@use "sass:math" as math;

//Percent
@function percent($px, $from: 100) {
   $result: math.div($px, $from) * 100%;
   @return $result;
}
//REM
@function toRem($px, $current: 16) {
   $result: math.div($px, $current) + rem;
   @return $result;
}
//EM
@function toEm($px, $current: 16) {
   $result: math.div($px, $current) + em;
   @return $result;
}
